<div class="signUpContainer">
  <div class="logoContainer"><img class="logoImage" src="/assets/logo.png" /></div>
  <form (submit)="regiUser($event)">
      <div *ngIf="!successMessage; else success">
          <mat-input-container>
              <input matInput placeholder="Email" name="email" type="email" [(ngModel)]="email" >
          </mat-input-container>

          <mat-input-container>
              <input matInput placeholder="Username" name="username" type="text" [(ngModel)]="username" >
          </mat-input-container>

          <mat-input-container>
              <input matInput placeholder="Password" name="password1" type="password" [(ngModel)]="password1" >
          </mat-input-container>

          <mat-input-container>
              <input matInput placeholder="Password Confirmation" name="password2" type="password" [(ngModel)]="password2" >
          </mat-input-container>

          <button class="button buttonOrange" *ngIf="!loading" type="submit">Register</button>
          <mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar>
      </div>
      <ng-template #success>
          {{ successMessage }}
      </ng-template>
  </form>
</div>
