<mat-sidenav-container class="sidenav-container">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span  class="separater" ><a class="linksForRoutes" routerLink="/">Amicus Lex</a></span>
    <span  class="separater" ><a class="linksForRoutes" routerLink="/search">search</a></span>

    <span class="example-spacer"></span>
    
    <ul class="right inlinef login-and-reg-menu">
      <li>
          <a class="linksForRoutes" routerLink="/login" routerLinkActive="active" style="margin-right: 10px">Login</a>
      </li>
      <li>
          <a class="linksForRoutes" routerLink="/register" routerLinkActive="active">Sign Up</a>
      </li>
  </ul>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

</mat-sidenav-container>