
<mat-sidenav-container class="sidenav-container">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span  class="separater" ><!--a class="linksForRoutes" routerLink="/">Amicus Lex</a-->
    <img routerLink="/" class="logo" src="/assets/logo.png"/>
    </span>

    <span class="example-spacer"></span>
    
    <ul class="right inlinef login-and-reg-menu">
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item><a class="linksForRoutes" routerLink="/"><mat-icon>home</mat-icon>Home</a></button>
          <button mat-menu-item><a class="linksForRoutes" routerLink="/search"><mat-icon>search</mat-icon>Search</a></button>
          <button mat-menu-item><a class="linksForRoutes" routerLink="/login" routerLinkActive="active" style="margin-right: 10px"><mat-icon>assignment_ind</mat-icon>Login</a></button>
          <button mat-menu-item><a class="linksForRoutes" routerLink="/register" routerLinkActive="active"><mat-icon>assignment</mat-icon>Register</a></button>
        </mat-menu>
  </ul>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
</mat-sidenav-container>