
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

ul li {
  list-style-type: none;
}

.login-and-reg-menu {
  display: inline-flex;
}

.separater{
  margin-left: 2%;
}

.logo{
  margin-left: -30%;
  margin-top: 5%;
  width: 50%;
}

button.mat-menu-item {
  width: 100%;
  margin-bottom: 5%;
  /* color: black; */
  /* text-decoration-color: black; */
}

.linksForRoutes[_ngcontent-c0] {
  margin-right: 10px;
  color: black;
  text-decoration: none;
}

.linksForRoutes{
  margin-right: 10px;
  color: #FFFFFF;
  text-decoration: none;
}