<div class="seachtools" >
    <form class="inlinef" (submit)="lunchSearch($event)">
        <mat-form-field>
            <mat-select placeholder="Theme" ng-model="userTheme" (change)="getThemeData($event)">
              <mat-option *ngFor="let theme of themes" name="theme" type="text"  [value]="theme.value">
                {{ theme.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <input placeholder="search" name="search"  type="text" />
          <button id="seachbtn" mat-raised-button type="submit"><i class="material-icons">search</i></button>
    </form>
  </div>
  
  
  <div class="card-param" *ngFor="let data of data.Object">
    {{data | json }}
    <mat-card >
      <mat-card-title>{{data.book}}</mat-card-title>
      <hr>
      <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie, mi ut ultricies hendrerit, risus neque rhoncus massa, commodo rhoncus erat nisi id ante. Maecenas eu orci a lacus dignissim venenatis a a felis. Aliquam ultricies lobortis dignissim. Sed tempor blandit mi, quis venenatis erat. Cras tempor, ipsum id euismod tincidunt, nulla augue sagittis odio, non condimentum ex dolor sit amet purus. Sed ac volutpat tellus. Nulla malesuada odio massa, eu hendrerit risus pretium ut.</mat-card-content>
      <img mat-card-image>
      <button mat-raised-button (click)="openDialog()">Plus d'information<mat-icon>more_horiz</mat-icon></button>
      <hr>    
      <mat-card-footer>Footer</mat-card-footer>
    </mat-card>
  </div>

  <div class="row">
    <ul class="pagination">
        <li [class.waves-effect]="i + 1 != currentPage" [class.active]="i + 1 == currentPage" *ngFor="let p of [].constructor(totalPages) ; let i = index">
            <a style="cursor: pointer;" (click)="getList(i + 1);">
                {{ i + 1 }}
            </a>
        </li>
    </ul>
  </div>