/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-card {
    background:rgba(241, 234, 235, 0.3);
    color: rgba(0,0,0,.87);
}

.card-param{
    margin-top: 5%;
    width: 32%;
    display: inline-block;
    margin-left: 1%;
}

mat-card-actions{
    text-align: right;
}

mat-card-footer{
    text-align: center;
}

mat-card.mat-card
{
    background: linear-gradient(#cecece, white);
}

.mat-toolbar.mat-primary {
    background: #336699 !important;
}

.logo{
    outline : none;
}

button.mat-raised-button {
    margin-bottom: 5%;
}

/*
button {
   color: #DCDCDC !important;
}
*/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .card-param {
        width: 100% !important;
    }

    .logo{
        margin-left: -10% !important;
        margin-top: 5% !important;
        width: 36% !important;
        outline : none;
    }

    .logoImage {
        margin-top: 10% !important;
        margin-bottom: 10% !important;
    }

    .seachtools {
        position: relative;
        width: unset !important;
        margin-left: unset !important;
        margin-top: unset !important;
        text-align: center;
    }
}
