<div class="">
  <mat-card>
    <mat-card-title>TITRE</mat-card-title>
    <hr>
    <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie, mi ut ultricies hendrerit, risus neque rhoncus massa, commodo rhoncus erat nisi id ante. Maecenas eu orci a lacus dignissim venenatis a a felis. Aliquam ultricies lobortis dignissim. Sed tempor blandit mi, quis venenatis erat. Cras tempor, ipsum id euismod tincidunt, nulla augue sagittis odio, non condimentum ex dolor sit amet purus. Sed ac volutpat tellus. Nulla malesuada odio massa, eu hendrerit risus pretium ut.</mat-card-content>
    <img mat-card-image>
    <button mat-raised-button (click)="openDialog()">Plus d'information<mat-icon>more_horiz</mat-icon></button>    
    <mat-card-footer>Footer</mat-card-footer>
  </mat-card>
</div>
